### importing the dependencies

In [2]:
#importing the librarys
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### data collection and preprocessing

In [3]:
#loading the csv data to a pandas df

heart_data = pd.read_csv("heart disease prediction.csv")

In [4]:
#print first 5 row
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [5]:
#print last 5 row
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [6]:
#shape of the data
heart_data.shape

(1025, 14)

In [7]:
#getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [8]:
# check for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
#stastical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
#checking the distribution of target variable
heart_data["target"].value_counts()

1    526
0    499
Name: target, dtype: int64

### 1---> defactive heart
### 0---> healthy heart

In [11]:
#spliting the feature and target
y=heart_data["target"]
x= heart_data.drop(columns='target',axis=1)

In [12]:
print(x)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [13]:
print(y)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

### spliting the data into training data and testing data

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [15]:
 print(x.shape,x_train.shape, x_test.shape, y_train.shape, y_test.shape )

(1025, 13) (820, 13) (205, 13) (820,) (205,)

In [16]:
print(x_train)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
14     52    1   0       128   204    1        1      156      1      1.0
586    64    1   2       125   309    0        1      131      1      1.8
16     51    0   2       140   308    0        0      142      0      1.5
462    52    1   3       118   186    0        0      190      0      0.0
186    40    1   0       110   167    0        0      114      1      2.0
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
221    63    1   0       130   254    0        0      147      0      1.4
906    42    1   0       140   226    0        1      178      0      0.0
1002   66    1   0       112   212    0        0      132      1      0.1
966    58    1   0       128   259    0        0      130      1      3.0
191    56    1   1       130   221    0        0      163      0      0.0

      slope  ca  thal
14        1   0     0
586       1   0     3
16        2   1     2
462       1   0     1
186       1   0     3
...     ...  ..   ...
221       1   1     3
906       2   0     2
1002      2   1     2
966       1   2     3
191       2   0     3

[820 rows x 13 columns]

In [17]:
print(y_train)

14      0
586     0
16      1
462     1
186     0
       ..
221     0
906     1
1002    0
966     0
191     1
Name: target, Length: 820, dtype: int64

In [18]:
print(x_test)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
845   56    1   0       132   184    0        0      105      1      2.1
542   62    0   0       140   394    0        0      157      0      1.2
147   41    1   0       110   172    0        0      158      0      0.0
711   35    1   0       120   198    0        1      130      1      1.6
724   74    0   1       120   269    0        0      121      1      0.2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
889   63    0   0       150   407    0        0      154      0      4.0
563   44    1   0       112   290    0        0      153      0      0.0
654   41    0   1       126   306    0        1      163      0      0.0
943   65    1   0       120   177    0        1      140      0      0.4
734   52    1   0       128   204    1        1      156      1      1.0

     slope  ca  thal
845      1   1     1
542      1   0     2
147      2   0     3
711      1   0     3
724      2   1     2
..     ...  ..   ...
889      1   3     3
563      2   1     2
654      2   0     2
943      2   0     3
734      1   0     0

[205 rows x 13 columns]

In [19]:
print(y_test)

845    0
542    1
147    0
711    0
724    1
      ..
889    0
563    0
654    1
943    1
734    0
Name: target, Length: 205, dtype: int64

### Model training

### logistic regression (used for classification as well as)

In [20]:
model = LogisticRegression()

In [21]:
#training ml model with training data
model.fit(x_train, y_train)

C:\anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Model Evalution

accuracy score by metrics

#accuracy on training data
x_train_prediction=model.predict(x_train)
training_accuracy = accuracy_score(x_train_prediction, y_train)
print("accuracy of training data :",training_accuracy)

In [22]:
#accuracy on training data
x_test_prediction=model.predict(x_test)
testing_accuracy = accuracy_score(x_test_prediction, y_test)
print("accuracy of testing data :",testing_accuracy)

accuracy of testing data : 0.8048780487804879

## bulding a predictive system

In [23]:
#first person...

input_data=(71,0,0,112,149,0,1,125,0,1.6,1,0,2)
#change to input data into numpy array
np_array_ip=np.asarray(input_data)
# print(np_array_ip)

#reshape the numpy array as we are predicting for only one instance
np_array_ip_reshaped = np_array_ip.reshape(1,-1)
# print(np_array_ip_reshaped )

prediction = model.predict(np_array_ip_reshaped)

if(prediction==1):
    print("""The person has heart diseases \ntake care and consult with a heart specialist 
    
    """)
else:
    print("""The person does not have heart diseases
    \n !!have a good day!!""")

The person has heart diseases
take care and consult with a heart specialist

In [24]:
#another person
input_data=(54,1,0,124,266,0,0,109,1,2.2,1,1,3)
#change to input data into numpy array
np_array_ip=np.asarray(input_data)
# print(np_array_ip)

#reshape the numpy array as we are predicting for only one instance
np_array_ip_reshaped = np_array_ip.reshape(1,-1)
# print(np_array_ip_reshaped )

prediction = model.predict(np_array_ip_reshaped)

if(prediction==1):
    print("""The person has heart diseases \ntake care and consult with a heart specialist 
    
    """)
else:
    print("""The person does not have heart diseases
    \n !!have a good day!!""")

The person does not have heart diseases

 !!have a good day!!

## saving the training model

In [25]:
import pickle

In [26]:
filename = "heart_diseases_pridiction_trained_model.sav"
pickle.dump(model, open(filename, "wb")) #wb = writein binary formate

In [27]:
#loading the saved model -- rb(reading in binary formate)
loaded_model = pickle.load(open("heart_diseases_pridiction_trained_model.sav","rb"))

In [29]:
#another person
# write loaded model instead of original name model

input_data=(54,1,0,124,266,0,0,109,1,2.2,1,1,3)
#change to input data into numpy array
np_array_ip=np.asarray(input_data)
# print(np_array_ip)

#reshape the numpy array as we are predicting for only one instance
np_array_ip_reshaped = np_array_ip.reshape(1,-1)
# print(np_array_ip_reshaped )

prediction = loaded_model.predict(np_array_ip_reshaped)

if(prediction==1):
    print("""The person has heart diseases \ntake care and consult with a heart specialist 
    
    """)
else:
    print("""The person does not have heart diseases
    \n !!have a good day!!""")

The person does not have heart diseases

 !!have a good day!!